# [submodule "cf/lib/forge-std"]
# 	path = cf/lib/forge-std
# 	url = https://github.com/foundry-rs/forge-std
# [submodule "cf/lib/openzeppelin-contracts"]
# 	path = cf/lib/openzeppelin-contracts
# 	url = https://github.com/openzeppelin/openzeppelin-contracts
# [submodule "cf/lib/openzeppelin-contracts-upgradeable"]
# 	path = cf/lib/openzeppelin-contracts-upgradeable
# 	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
# [submodule "snake/lib/forge-std"]
# 	path = snake/lib/forge-std
# 	url = https://github.com/foundry-rs/forge-std
# [submodule "snake/lib/openzeppelin-contracts"]
# 	path = snake/lib/openzeppelin-contracts
# 	url = https://github.com/openzeppelin/openzeppelin-contracts
# [submodule "snake/lib/openzeppelin-contracts-upgradeable"]
# 	path = snake/lib/openzeppelin-contracts-upgradeable
# 	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "token/lib/forge-std"]
	path = token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "token/lib/openzeppelin-contracts"]
	path = token/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
